@import 'shared/_variables';
@import 'shared/fonts';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  &__card {
    display: flex;
    &__wrapper {
      &-tech {
        border-radius: 20px;
        width: 256px;
        height: 320px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        perspective: 1000px;
        transform: perspective(1000px) translateY(0);
        transform-style: preserve-3d;
        transition: transform 0.8s ease-in-out;
        background-image: url(../assets/mariage/shooting.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        &__text-overlay {
          h2 {
            font-size: 18px;
            letter-spacing: 2px;
            font-family: 'Kavoon', cursive;
            color: $orange;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.699),
              -1px -1px 0 rgba(0, 0, 0, 0.699);
            position: absolute;
            top: 10px;
            left: 20px;
          }
          transform: perspective(1000px) translateY(0) translateZ(80px);
          transition: transform 0.8s ease-in-out, opacity 1s ease;
          pointer-events: none;
          width: 100%;
          perspective: inherit;
          padding-top: 50px;
        }
        &__button {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          left: 0;
          top: 0;
          transform: perspective(1000px) rotateY(179deg) translateY(0)
            translateZ(80px);
          opacity: 0;
          z-index: -1;
          transition: transform 0.8s ease-in-out, opacity 1s ease;
          width: 100%;
          height: 100%;
          h2 {
            // color: #272727;
            position: absolute;
            top: -35px;
            width: 100%;
          }
          &__link {
            border: 1px solid orange;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 0.74);
            padding: 10px;
            cursor: pointer;
            transition: 0.4s ease-in-out;
            &:hover {
              background-color: rgba(255, 255, 255);
              border: 3px solid orange;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}

.wedding {
  background-image: url(../assets/technique/IMG_5708.JPG) !important;
}

.container__card__wrapper:hover .container__card__wrapper-tech {
  transform: rotateY(179deg);
  z-index: 2;
}
.container__card__wrapper:hover
  .container__card__wrapper-tech
  .container__card__wrapper-tech__text-overlay {
  opacity: 0;
  transform-style: preserve-3d;
  z-index: 1;
}

.container__card__wrapper:hover
  .container__card__wrapper-tech
  .container__card__wrapper-tech__button {
  opacity: 1;
}
